Repository ulysses-you/incubator-kyuubi, changes with the labels that .github/labeler.yml gives for each.
All labels: kind:build, kind:deploy, kind:documentation, kind:infra, module:common, module:ctl, module:flink, module:ha, module:hive, module:kubernetes, module:metrics, module:trino, module:tpcds, module:server, module:spark, module:plugin

.github/labeler.yml:

#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#
# Pull Request Labeler Github Action Configuration: https://github.com/marketplace/actions/labeler

"kind:build":
  - ".dockerignore"
  - ".rat-excludes"
  - ".scalafmt"
  - "**/*pom.xml"
  - "bin/docker-image-tool.sh"
  - "build/**/*"
  - "docker/**/*"
  - "docs/requirements"
  - "kyuubi-assembly/**/*"
  - "scalastyle-config.xml"
  - any: ["dev/**/*", "!dev/kyuubi-codecov/**/*", "!dev/kyuubi-extension-spark*/**/*", "!dev/kyuubi-tpcds/**/*"]

"kind:deploy":
  - any: ["bin/**/*", "!bin/beeline", "!bin/docker-image-tool.sh"]
    
"kind:documentation":
  - "*.md"
  - "conf/**/*"
  - "docs/**/*"
  - "readthedocs.yml"

"kind:infra":
  - ".asf.yaml"
  - ".gitattributes"
  - ".github/**/*"
  - ".gitignore"
  - ".travis.yml"
  - "DISCLAIMER"
  - "LICENSE"
  - "LICENSE-binary"
  - "NOTICE"
  - "NOTICE-binary"
  - "codecov.yml"
  - "dev/kyuubi-codecov/**/*"
  - "licenses-binary"

"module:common":
  - "kyuubi-common/**/*"

"module:ctl":
  - "bin/beeline"
  - "kyuubi-common/**/*"
  - "kyuubi-hive-beeline/**/*"
  - "kyuubi-hive-jdbc/**/*"
  - "kyuubi-hive-jdbc-shaded/**/*"

"module:flink":
  - "kyuubi-flink-it/**/*"
  - "externals/kyuubi-flink-sql-engine/**/*" 

"module:ha":
  - "kyuubi-ha/**/*"
  - "kyuubi-zookeeper/**/*"

"module:hive":
  - "bin/beeline"
  - "externals/kyuubi-hive-sql-engine/**/*"
  - "kyuubi-hive-beeline/**/*"
  - "kyuubi-hive-jdbc/**/*"
  - "kyuubi-hive-jdbc-shaded/**/*"

"module:kubernetes":
  - ".dockerignore"
  - "bin/docker-image-tool.sh"
  - "docker/**/*"
  - "integration-tests/kyuubi-kubernetes-it/**/*"
  - "tools/spark-block-cleaner/**/*"

"module:metrics":
  - "kyuubi-metrics/**/*"

"module:trino":
  - "externals/kyuubi-trino-engine/**/*" 

"module:tpcds":
  - "dev/kyuubi-tpcds/**/*"

"module:server":
  - "bin/kyuubi"
  - "kyuubi-server/**/*"
  - "kyuubi-server-plugin/**/*"

"module:spark":
  - "externals/kyuubi-spark-sql-engine/**/*" 
  - "dev/kyuubi-extension-spark*/**/*"
  - "tools/spark-block-cleaner/**/*"

"module:plugin":
  - "kyuubi-server-plugin/**/*"

version
  .github/workflows/master.yml
Labels: kind:infra

test
  integration-tests/kyuubi-kubernetes-it/src/test/scala/org/apache/kyuubi/kubernetes/test/spark/SparkOnKubernetesTestsSuite.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/WithSimpleDFSService.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/MiniDFSService.scala
Labels: module:kubernetes, module:server

clean
  .github/workflows/master.yml
  kyuubi-server/src/test/scala/org/apache/kyuubi/WithSimpleDFSService.scala
Labels: kind:infra, module:server

f
  integration-tests/kyuubi-kubernetes-it/pom.xml
Labels: kind:build, module:kubernetes

fix
  integration-tests/kyuubi-kubernetes-it/src/test/scala/org/apache/kyuubi/kubernetes/test/spark/SparkOnKubernetesTestsSuite.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/WithSimpleDFSService.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/MiniDFSService.scala
Labels: module:kubernetes, module:server

fix
  integration-tests/kyuubi-kubernetes-it/src/test/scala/org/apache/kyuubi/kubernetes/test/spark/SparkOnKubernetesTestsSuite.scala
Labels: module:kubernetes

fix
  integration-tests/kyuubi-kubernetes-it/src/test/scala/org/apache/kyuubi/kubernetes/test/spark/SparkOnKubernetesTestsSuite.scala
Labels: module:kubernetes

fix
  integration-tests/kyuubi-kubernetes-it/src/test/scala/org/apache/kyuubi/kubernetes/test/spark/SparkOnKubernetesTestsSuite.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/operation/SparkQueryTests.scala
Labels: module:common, module:ctl, module:kubernetes

fix
  .github/workflows/master.yml
Labels: kind:infra

fix
  .github/workflows/master.yml
Labels: kind:infra

test
  integration-tests/kyuubi-kubernetes-it/src/test/scala/org/apache/kyuubi/kubernetes/test/spark/SparkOnKubernetesTestsSuite.scala
Labels: module:kubernetes

test
  integration-tests/kyuubi-kubernetes-it/src/test/scala/org/apache/kyuubi/kubernetes/test/spark/SparkOnKubernetesTestsSuite.scala
Labels: module:kubernetes

fix
  .github/workflows/master.yml
  integration-tests/kyuubi-kubernetes-it/src/test/scala/org/apache/kyuubi/kubernetes/test/spark/SparkOnKubernetesTestsSuite.scala
Labels: kind:infra, module:kubernetes

fix
  .github/workflows/master.yml
Labels: kind:infra

fix
  .github/workflows/master.yml
Labels: kind:infra

fix
  .github/workflows/master.yml
Labels: kind:infra

fix
  .github/workflows/master.yml
  integration-tests/kyuubi-kubernetes-it/src/test/scala/org/apache/kyuubi/kubernetes/test/spark/SparkOnKubernetesTestsSuite.scala
Labels: kind:infra, module:kubernetes

fix
  integration-tests/kyuubi-kubernetes-it/src/test/scala/org/apache/kyuubi/kubernetes/test/spark/SparkOnKubernetesTestsSuite.scala
Labels: module:kubernetes

fix
  integration-tests/kyuubi-kubernetes-it/src/test/resources/driver.yml
  integration-tests/kyuubi-kubernetes-it/src/test/scala/org/apache/kyuubi/kubernetes/test/spark/SparkOnKubernetesTestsSuite.scala
Labels: module:kubernetes
